<% content_for :title do %><%= @project.title_seo.blank? ? strip_tags(@project.title) : @project.title_seo %><% end %>

<% content_for :body_class do %><%= 'l-%s-page' % [@project.body_class] %><% end %>
<% content_for :yandex_metrica_gaidarfund do %>-<% end %>
<% content_for :social_likes do %><%= @project.likes.html_safe %><% end %>
<% content_for :partners do %><%= @project.partners.html_safe %><% end %>

<% if @project.social_image.exists? %>
    <% content_for :og_image do %><%= "#{request.protocol}#{request.host_with_port}#{@project.social_image(:square)}" %><% end %>
<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('.b-menu.b-menu-separated').append('<li class="item"><%= link_to 'Записаться на ближайшую лекцию', lectures_subscribe_path, :class => 'link c-about-link' %></li>');
            $('.b-menu li.item a.link[href$="<%= lectures_subscribe_path %>"]').html(function(i,value) {return '<b class="b-graphics b-graphics-check"><b></b></b>' + value});
            $('ul.b-main-menu li.item.projects a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'block_links', :locals => {:title => @project.about_title.blank? ? 'О проекте' : @project.about_title, :items => @project.pages} %>
    <%= render :partial => 'filters', :locals => {:show_filters => false, :defaults => {:project_ids => @project.id, :per_page => @project.per_page}} %>
    <%= @project.projects.html_safe %>
<% end %>

<% content_for :content do %>
    <%= render :partial => 'project_header', :locals => {:project => @project} %>
    <div class="l-column-472 l-intercolumn-28">

        <%= @lectures_subscribe %>

        <div class="b-yellow-block">

            <%= form_for(@subscriber, :url => {:controller => 'lectures', :action => 'subscribe'}, :html => {:id => "subscribe_form", :class => ""}, :method => 'post', :remote => true) do |f| %>

                  <% if @subscriber.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this lecture from being saved:</h2>
                      <ul>
                      <% @subscriber.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                <fieldset>
                    <%= f.label :article_id, "Лекция", :class => "b-label" %>
                    <div class="b-field b-choise">
                        <% @articles.each do |article| %>
                            <div class="item">
                                <%= check_box_tag 'articles[]', article.id, @articles_subscribed.include?(article.id.to_s), :class => "input", :id => "articles_#{article.id}" %>
                                <% label_text = l(article.published_at, :format => '%d %B') + ", " + article.title + "<br/>".html_safe + link_to('Описание лекции', article_path(article)) %>
                                <%= label "articles", article.id, label_text.html_safe, :class => "label" %>
                            </div>
                        <% end %>
                    </div>

                    <div class="l-intercolumn-40">
                    <div class="b-field b-wide-input">
                        <%= f.label :name, "Ваше имя и фамилия", :class => "b-label" %>
                        <%= f.text_field :name, :class => "b-input", :id => "f-fio" %>
                    </div>
                    <div class="b-field b-wide-input">
                        <%= f.label :email, "Ваш e-mail", :class => "b-label" %>
                        <%= f.text_field :email, :class => "b-input", :id => "f-email" %>
                    </div>
                    </div>
                    <%= f.submit 'Записаться', :class => "b-submit" %>
                </fieldset>
            <% end %>

            <div id="subscribe_success" class="b-form-message b-last-textblock">Спасибо за&nbsp;помощь организаторам.<br/> Ждем вас!</div>

            <script type="text/javascript">
                var subscribe = {
                    init: function() {
                        $('#subscribe_form,#subscribe_success').hide();
                    },
                    show_form: function(short) {
                        $('#subscribe_form').show();
                        $('#subscribe_success').hide();
                    },
                    success: function() {
                        $('#subscribe_success').show();
                        $('#subscribe_form .b-field.b-wide-input').hide();
                        $('#subscribe_form input:submit').hide();
                    },
                    already: function() {
                        $('#subscribe_form,#subscribe_success').hide();
                    },
                }
                subscribe.init();
                subscribe.show_form();
            </script>
        </div>
    </div>
<% end %>

<% content_for :right_column do %>
    <div class="l-wide-context">
    <div class="l-shift-20">
        <%= @project.right_block.html_safe %>
        <%= render :partial => 'social_links' %>
    </div>
    </div>
<% end %>

<%= render :template => 'layouts/3columns' %>