<% if article %>
    <% need_image = (article.image.exists? and not article.is_announce?) %>
    <% future_announce = (article.is_announce? and article.published_at > Time.now) %>
    <div class="b-article b-tiles-item<% if future_announce %> c-project-block b-article-highlighted<% elsif need_image %> b-article-illustrated<% end %>">
        <a class="b-article-link c-<%= article.color_class %>-link" href="<%= article_path(article) %>">
            <% if future_announce %>
                <div class="b-section-label">Ближайшее</div>
            <% elsif article.type %>
                <div class="b-section-label c-<%= article.color_class %>-block">
                    <% if article.is_announce? and article.published_at < Time.now %>
                        Архив
                    <% else %>
                        <%= article.type.name %>
                    <% end %>
                </div>
            <% end %>
            <% if need_image %>
                <div class="image-container">
                    <%= image_tag(article.image(:square), :class => 'image', :alt => article.title, :width => article.image.width(:square), :height => article.image.height(:square)) %>
                    <% if article.play_icon %><b class="b-icon b-icon-video"><b></b></b><% end %>
                </div>
            <% end %>
            <% if not article.is_book? %>
                <div class="date"><%= l article.published_at, :format => '%d %B %Y' %></div>
            <% end %>
            <h3 class="title">
                <% if article.excerpts %>
                    <%= article.excerpts.title.html_safe %>
                <% else %>
                    <%= article.title.html_safe %>
                <% end %>
            </h3>
        </a>
        <p class="desc">
            <% if article.excerpts %>
                <%= article.excerpts.subtitle.html_safe %>
            <% else %>
                <%= article.subtitle.html_safe %>
            <% end %>
        </p>
        <% if article.project and not params['project_ids'] %>
            <div class="b-source">
                <a class="link <%= "c-#{article.color_class}-hidden-link" %>" href="<%= project_path(article.project) %>">
                    <b class="b-graphics b-graphics-7-square"><b></b></b><%= article.project %>
                </a>
            </div>
        <% end %>
    </div>
<% end %>

<% if params[:page] == 1 and defined?(article_counter) and @widgets.keys.include?(article_counter) %>
    <%= render :partial => "widget_#{@widgets[article_counter][:type]}", :locals => @widgets[article_counter] %>
<% end %>