<% if article %>
    <div class="<% if defined?(featured) %>b-featured-article<% else %>b-article b-tiles-item<% if article.image.exists? %> b-article-illustrated<% end %><% end %>">
        <a class="link c-<%= article.color_class %>-link" href="<%= article_path(article) %>">
            <% if article.type %>
                <div class="b-section-label c-<%= article.color_class %>-block"><%= article.type.name %></div>
            <% end %>
            <% if article.image.exists? %>
                <div class="image-container">
                    <%= image_tag(article.image(:square), :class => 'image', :alt => article.title, :width => article.image.width(:square), :height => article.image.height(:square)) %>
                    <% if article.play_icon %><b class="b-icon b-icon-video"><b></b></b><% end %>
                </div>
            <% end %>
            <% if not defined?(featured) and not article.is_book? %>
                <div class="date"><%= l article.published_at, :format => '%d %B %Y' %></div>
            <% end %>
            <h3 class="title">
                <% if article.excerpts %>
                    <%= article.excerpts.title.html_safe %>
                <% else %>
                    <%= article.title.html_safe %>
                <% end %>
            </h3>
        </a>
        <p class="desc">
            <% if article.excerpts %>
                <%= article.excerpts.subtitle.html_safe %>
            <% else %>
                <%= article.subtitle.html_safe %>
            <% end %>
        </p>
    </div>
<% end %>