<% content_for :body_class do %><% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('li.item.<%= @menu_class %> a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'projects' %>
    <%= render :partial => 'calendar' %>
    <%= render :partial => 'filters' %>
<% end %>

<% content_for :content do %>
    <div class="l-column-472 l-intercolumn-28">
        <div class="b-share">
            <%= render :partial => 'social_likes' %>
        </div>
        <%= render :partial => 'articles', :locals => {:article_main => @article_main, :articles => @articles } %>
    </div>
<% end %>

<% content_for :right_column do %>
    <%= render :partial => 'blogs' %>
    <%= render :partial => 'banners_right_column' %>
<% end %>

<%= render :template => 'layouts/3columns' %>