<% content_for :title do %><%= @article.title_seo.blank? ? @article.title.html_safe : @article.title_seo.html_safe %><% end %>

<% content_for :body_class do %><% if @article.project %><%= 'l-%s-page c-gaidar-page' % [@article.project.body_class] %><% else %>c-article-page<% end %><% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('li.item.<%= @menu_class %> a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
            $('.b-award-header p.label').remove();
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'projects' %>
    <%= render :partial => 'calendar' %>
<% end %>

<% content_for :main_column do %>
    <div class="l-column-536 l-intercolumn-24">
        <% if @article.project %>
            <%= render :partial => 'project_header', :locals => {:project => @article.project, :compact => true} %>
            <div class="l-cover-fix">
                <div class="b-meta b-meta-pre">
                <div class="meta">
                    <%= render :partial => 'social_likes' %>
                </div>
                </div>
        <% else %>
            <div class="b-share">
                <%= render :partial => 'social_likes' %>
            </div>
        <% end %>
        <h1<% if @article.title.length > 50 %> class="b-long-page-title"<% end %>><%= @article.title.html_safe %></h1>
        <div class="b-meta">
            <div class="meta">
                <span class="date"><%= l @article.published_at, :format => '%d %B %Y' %></span>
                <% if not @article.author.empty? %>
                    <span class="b-square">■</span>
                    <strong class="author"><%= @article.author %></strong>
                <% end %>
            </div>
        </div>
        <p class="b-intro">
            <strong><%= @article.subtitle.html_safe %></strong>
        </p>
        <%= @article.content.html_safe %>
        <div class="b-meta b-meta-separated">
            <div class="meta">
                <%= render :partial => 'social_likes' %>
            </div>
        </div>
        <div class="b-nearest-articles">
            <% if @previous %>
                <a class="link c-article-link" href="<%= article_path(@previous) %>"><b class="b-graphics b-graphics-left-arrow"><b></b></b><%= @previous.title.html_safe %></a>
            <% end %>
            <% if @next %>
                <a class="link next c-about-link" href="<%= article_path(@next) %>"><b class="b-graphics b-graphics-right-arrow"><b></b></b><%= @next.title.html_safe %></a>
            <% end %>
        </div>
        <% if @article.project %>
            </div>
        <% end %>
    </div>
    <div class="l-context">
        <% if @more.count > 0 %>
            <h2 class="b-context-title">Ещё на эту тему</h2>
            <div class="l-shift-20">
                <ul class="b-context-links">
                    <% @more.each do |article| %>
                        <li class="item">
                            <%= link_to article.title.html_safe, article_path(article), :class => 'link' %>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
<% end %>

<%= render :template => 'layouts/application' %>