<% content_for :title do %><%= @article.title_seo.blank? ? strip_tags(@article.title) : @article.title_seo %><% end %>
<% content_for :description do %><%= @article.title_seo.blank? ? strip_tags(@article.title) : @article.title_seo %> <%= strip_tags(@article.subtitle) %><% end %>

<% if @article.project %>
    <% content_for :body_class do %><%= "l-#{@article.project.body_class}-page c-#{@article.color_class}-page" %><% end %>
    <% content_for :yandex_metrica_gaidarfund do %>-<% end %>
    <% content_for :social_likes do %><%= @article.project.likes.html_safe %><% end %>
    <% content_for :partners do %><%= @article.project.partners.html_safe %><% end %>
<% else %>
    <% content_for :body_class do %><%= "c-#{@article.color_class}-page" %><% end %>
<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            <% if @article.type.page %>
                $('.b-menu li.item a.link[href$="/<%= @article.type.slug %>"]').html(function(i,value) {return '<b class="b-graphics b-graphics-check"><b></b></b>' + value});
                $('ul.b-main-menu li.item.<%= @article.type.page.color_class %> a.link')
            <% else %>
                $('ul.b-main-menu li.item.<%= @menu_class && @menu_class || 'none' %> a.link')
            <% end %>
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
            $('.b-award-header p.label').remove();
            $('#tabs').tabs({
                linkSelector: '.b-meta .disqussion .link',
                tabSelector: '.js-tab'
            });
            $('#article-tabs').tabs({
                tabSelector: '.article-tab',
                generateMenu: true
            });
        });
    </script>
<% end %>

<% content_for :extra_body do %>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'gaidarfund'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
<% end %>

<% content_for :left_column do %>
    <%# меню для memorues and media листингов %>
    <% if @article.type.page %>
        <%= render :partial => 'block_links', :locals => {:title => @article.type.page.title, :items => @article.type.page.pages} %>
    <% end %>
    <% if @article.project %>
        <%# блок страниц проекта %>
        <%= render :partial => 'block_links', :locals => {:title => @article.project.about_title.blank? ? 'О проекте' : @article.project.about_title, :items => @article.project.pages} %>
        <%# блок проектов проекта %>
        <%= @article.project.projects.html_safe %>
    <% else %>
        <%# блок всех проектов %>
        <%= render :partial => 'projects' %>
        <%= render :partial => 'calendar' %>
    <% end %>
<% end %>

<% content_for :main_column do %>
    <% if @article.project %>
        <div class="l-column-710">
            <%= render :partial => 'project_header', :locals => {:project => @article.project, :compact => true} %>
            <div class="l-column-536 l-intercolumn-24">
                <div class="l-cover-fix">
                    <div class="b-meta b-meta-pre">
                    <div class="b-share">
                        <%= render :partial => 'social_likes' %>
                    </div>
                    </div>
    <% else %>
        <div class="l-column-536 l-intercolumn-24">
            <div class="b-share">
                <%= render :partial => 'social_likes' %>
            </div>
    <% end %>
        <div id="tabs">
            <h1<% if @article.title.length > 50 %> class="b-long-page-title"<% end %>><%= @article.title.html_safe %></h1>
            <div class="b-meta">
                <div class="meta">
                    <span class="date"><%= l @article.published_at, :format => '%d %B %Y' %></span>
                    <% if not @article.author.empty? %>
                        <span class="b-square">■</span>
                        <strong class="author"><%= @article.author %></strong>
                    <% end %>
                </div>
                <% if not @article.hide_discussions %>
                    <div class="disqussion">
                        <a class="link" href="#article">Текст статьи</a>
                        <a class="link" href="#disqus_thread">Обсуждение</a>
                    </div>
                <% end %>
            </div>
            <div id="article" class="js-tab">
                <p class="b-intro">
                    <strong><%= @article.subtitle.html_safe %></strong>
                </p>
                <div id="article-tabs">
                    <%= @article.content.html_safe %>
                </div>
            </div>
            <% if not @article.hide_discussions %>
                <div id="disqus_thread" class="js-tab">
                    <%= @disqus %>
                </div>
            <% end %>
            <div class="b-meta b-meta-after">
                <div class="b-share">
                    <%= render :partial => 'social_likes' %>
                </div>
                <% if not @article.hide_discussions %>
                    <div class="disqussion">
                        <a class="link" href="#article">Текст статьи</a>
                        <a class="link" href="#disqus_thread">Обсуждение</a>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="b-nearest-articles">
            <% if @previous %>
                <a class="link <%= "c-#{@previous.color_class}-link" %>" href="<%= article_path(@previous) %>"><b class="b-graphics b-graphics-left-arrow"><b></b></b><%= @previous.title.html_safe %></a>
            <% end %>
            <% if @next %>
                <a class="link <%= "c-#{@next.color_class}-link" %> next" href="<%= article_path(@next) %>"><b class="b-graphics b-graphics-right-arrow"><b></b></b><%= @next.title.html_safe %></a>
            <% end %>
        </div>
        <% if @article.project %>
                </div>
        <% end %>
    </div>
    <div class="l-context">
        <% if @more.count > 0 %>
            <h2 class="b-context-title">Ещё на эту тему</h2>
            <div class="l-shift-20">
                <ul class="b-context-links">
                    <% @more.each do |article| %>
                        <li class="item">
                            <%= link_to article.title.html_safe, article_path(article), :class => 'link' %>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    </div>
<% end %>

<%= render :template => 'layouts/application' %>