<% content_for :title do %><%= strip_tags(@page.title) %><% end %>
<% content_for :description do %><%= strip_tags(@page.title) %><% end %>

<% if @page.project %>
    <% content_for :body_class do %><%= "l-#{@page.project.body_class}-page c-#{@page.color_class}-page" %><% end %>
    <% content_for :yandex_metrica_gaidarfund do %>-<% end %>
    <% content_for :social_likes do %><%= @page.project.likes.html_safe %><% end %>
    <% content_for :partners do %><%= @page.project.partners.html_safe %><% end %>
    <% if @page.project.social_image.exists? %>
        <% content_for :og_image do %><%= "#{request.protocol}#{request.host_with_port}#{@page.project.social_image(:square)}" %><% end %>
    <% end %>
<% else %>
    <% content_for :body_class do %><%= "c-#{@page.color_class}-page" %><% end %>
    <% content_for :partners do %>&nbsp;<% end %>
<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            <% if @page.project %>
                $('ul.b-main-menu li.item.project a.link')
            <% elsif @page.page %>
                $('ul.b-main-menu li.item.<%= @page.page.color_class %> a.link')
            <% else %>
                $('ul.b-main-menu li.item a.link[href$="/<%= @page.slug %>/"]')
            <% end %>
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
            $('.b-menu li.item a.link[href$="/<%= @page.slug %>"]').html(function(i,value) {return '<b class="b-graphics b-graphics-check"><b></b></b>' + value});
<%
=begin
%>
            if($('h2.b-page-title').length == 0) {
                $('h2.b-navigation-title:first').remove();
                $('#menu').parent().remove();
            } else {
                $('h2.b-page-title').each(function() {
                    var title = this;
                    var li = '<li class="item"> \
                            <a class="link c-about-link" href="">' + $(title).text() + '</a> \
                        </li>';
                    $('#menu').append(li);
                    $('#menu a:last').click(function() {
                        $.scrollTo($(title), 1000);
                        return false;
                    });
                });
            }
<%
=end
%>
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%# блок сиблингов %>
    <% if @page.page %>
        <%= render :partial => 'block_links', :locals => {:title => @page.page.title, :items => @page.page.pages} %>
    <% end %>
    <%# блок детей %>
    <%= render :partial => 'block_links', :locals => {:title => @page.title, :items => @page.pages} %>
    <% if @page.project %>
        <%# блок страниц проекта %>
        <%= render :partial => 'block_links', :locals => {:title => @page.project.about_title.blank? ? 'О проекте' : @page.project.about_title, :items => @page.project.pages} %>
        <%# блок проектов проекта %>
        <%= @page.project.projects.html_safe %>
    <% else %>
        <%# блок всех проектов %>
        <%= render :partial => 'projects' %>
    <% end %>
<% end %>

<% content_for :main_column do %>
    <% if @page.project %>
        <div class="l-column-710">
            <%= render :partial => 'project_header', :locals => {:project => @page.project, :compact => true} %>
            <div class="l-column-536 l-intercolumn-24">
                <div class="l-cover-fix">
                    <%= @page.content.html_safe %>
                </div>
            </div>
            <div class="l-context">
                <%= render :partial => 'social_links' %>
            </div>
        </div>
    <% else %>
        <div class="l-column-472 l-intercolumn-28">
            <div class="b-share">
                <%= render :partial => 'social_likes' %>
            </div>
            <%= @page.content.html_safe %>
        </div>
        <div class="l-column-210">
            <%= render :partial => 'social_links' %>
        </div>
    <% end %>
<% end %>