<% if project %>
    <div class="b-project b-large-tiles-item">
        <a class="b-project-link" href="<%= project_path(project) %>">
            <h2 class="b-project-title"><%= project.title_list_short.empty? ? project.title.html_safe : project.title_list_short.html_safe %></h2>
            <em class="text"><%= project_path(project) %></em>
            <% if project.logo_small_image.exists? %>
                <%= image_tag(project.logo_small_image(:thumb), :class => 'image', :alt => strip_tags(project.title), :width => project.logo_small_image.width(:thumb), :height => project.logo_small_image.height(:thumb)) %>
            <% end %>
        </a>
        <% if not project.core.empty? %>
            <h3 class="sub-title first">Краткая суть проекта</h3>
            <p class="desc"><%= project.core.html_safe %></p>
        <% end %>
        <% if not project.status.empty? %>
            <h3 class="sub-title">Главное</h3>
            <p class="desc"><%= project.status.html_safe %></p>
        <% end %>
        <% if project.articles.count > 0 and not project.hide_news_list %>
            <h3 class="sub-title">Новости и публикации</h3>
            <ul class="b-news">
                <% project.articles.visible.slice(0,3).each do |article| %>
                    <li class="item">
                        <div class="date"><%= l article.published_at, :format => '%d %B %Y' %></div>
                        <h3 class="title"><%= link_to article.title, article_path(article), :class => 'link c-project-hidden-link' %></h3>
                    </li>
                <% end%>
            </ul>
            <a class="b-text-link" href="<%= project_path(project) %>">Все публикации проекта</a>
        <% end %>
    </div>
<% end %>