<% content_for :title do %>Проекты<% end %>

<% content_for :body_class do %>l-award-page c-project-page<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('ul.b-main-menu li.item.projects a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
            $('.b-large-tiles').masonry({
                itemSelector: '.b-large-tiles-item'
            });
            $('#tabs').tabs({
                linkSelector: '.b-tab-menu .link',
                tabSelector: '.js-tab'
            });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= @projects_introduction %>
    <%= render :partial => 'social_links' %>
<% end %>

<% content_for :main_column do %>
    <div class="l-column-710">
        <div class="b-share">
            <%= render :partial => 'social_likes' %>
        </div>
        <h1 class="b-separated-page-title">Проекты Фонда</h1>
        <div id="tabs">
            <ul class="b-tab-menu">
                <li class="item">
                    <a class="link selected" href="#projectsAll">Все</a>
                </li>
                <% @project_categories.each do |category| %>
                    <li class="item">
                        <%= link_to category.name, '#projects' + category.id.to_s, :class => 'link' %>
                    </li>
                <% end %>
            </ul>
            <div id="projectsAll" class="js-tab">
                <div class="b-large-tiles">
                    <% @projects.each do |project| %>
                        <%= render :partial => 'project', :locals => {:project => project} %>
                    <% end %>
                </div>
            </div>
            <% @project_categories.each do |category| %>
                <div id="projects<%= category.id %>" class="js-tab">
                    <div class="b-large-tiles">
                        <% category.projects.visible.each do |project| %>
                            <%= render :partial => 'project', :locals => {:project => project} %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>