<% content_for :title do %>Проекты<% end %>

<% content_for :body_class do %>l-award-page c-project-page<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('ul.b-main-menu li.item.projects a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
            $('.b-large-tiles').masonry({
                itemSelector: '.b-large-tiles-item'
            });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'social_links' %>
<% end %>

<% content_for :main_column do %>
    <div class="l-column-710">
        <div class="b-share">
            <%= render :partial => 'social_likes' %>
        </div><h1 class="b-separated-page-title">Проекты Фонда</h1>
        <%= @projects_introduction %>
<%
=begin
%>
        <ul class="b-tab-menu">
            <li class="item">
                <a class="link selected" href="?">Все</a>
            </li>
            <li class="item">
                <a class="link" href="?">Активные</a>
            </li>
            <li class="item">
                <a class="link" href="?">Дискуссионные площадки</a>
            </li>
            <li class="item">
                <a class="link" href="?">Поддержка молодых экономистов</a>
            </li>
        </ul>
<%
=end
%>
        <div class="b-large-tiles">
            <% @projects.each do |project| %>
                <% if project %>
                    <div class="b-project b-large-tiles-item">
                        <a class="b-project-link" href="<%= project_path(project) %>">
                            <h2 class="b-project-title"><%= project.title.html_safe %></h2>
                            <em class="text"><%= project_path(project) %></em>
                            <% if project.logo_small_image.exists? %>
                                <%= image_tag(project.logo_small_image(:thumb), :class => 'image', :alt => strip_tags(project.title), :width => project.logo_small_image.width(:thumb), :height => project.logo_small_image.height(:thumb)) %>
                            <% end %>
                        </a>
                        <% if not project.core.empty? %>
                            <h3 class="sub-title first">Краткая суть проекта</h3>
                            <p class="desc"><%= project.core.html_safe %></p>
                        <% end %>
                        <% if not project.status.empty? %>
                            <h3 class="sub-title">Главное</h3>
                            <p class="desc"><%= project.status.html_safe %></p>
                        <% end %>
                        <% if project.articles.count > 0 %>
                            <h3 class="sub-title">Новости и публикации</h3>
                            <ul class="b-news">
                                <% project.articles.slice(0,3).each do |article| %>
                                    <li class="item">
                                        <div class="date"><%= l article.published_at, :format => '%d %B %Y' %></div>
                                        <h3 class="title"><%= link_to article.title, article_path(article), :class => 'link c-project-hidden-link' %></h3>
                                    </li>
                                <% end%>
                            </ul>
                            <a class="b-text-link" href="<%= project_path(project) %>">Все публикации проекта</a>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>