<% content_for :body_class do %><%= 'l-%s-page' % [@project.body_class] %><% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('li.item.projects a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <h2 class="b-navigation-title"><%= @project.about_title.blank? ? 'О проекте' : @project.about_title %></h2>
    <div class="l-shift-20">
        <ul class="b-menu b-menu-separated">
            <li class="item">
                <a class="link c-project-link" href="?menu-11">Положение</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-11">Жюри</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-11">Победители</a>
            </li>
        </ul>
    </div>
    <h2 class="b-navigation-title"><%= @project.news_title.blank? ? 'Лента новостей' : @project.news_title %></h2>
    <div class="l-shift-20">
        <ul class="b-menu b-menu-separated">
            <li class="item">
                <a class="link c-about-link" href="?menu-21"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Лекции</a>
            </li>
            <li class="item">
                <a class="link c-news-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Новости</a>
            </li>
            <li class="item">
                <a class="link c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Публикации</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Спецпроекты</a>
            </li>
        </ul>
    </div>
    <h2 class="b-navigation-title">Другие
        <br/>
        гранты
        <br/>
        Фонда
    </h2>
    <div class="l-shift-20">
        <ul class="b-menu">
            <li class="item">
                <a class="link c-project-link" href="?menu-11">Стипендии</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-11">Гранты USRF</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-11">О проектах Фонда</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-11">Больше о Фонде</a>
            </li>
        </ul>
    </div>
<% end %>

<% content_for :content do %>
    <div class="l-column-472 l-intercolumn-28">
        <%= render :partial => 'project_header', :locals => {:project => @project} %>
        <%= render :partial => 'articles', :locals => {:article_main => @article_main, :articles => @articles } %>
    </div>
<% end %>

<% content_for :right_column do %>
    <div class="l-column-210 l-lift-686">
        <div class="l-shift-20">
            <%= @project.right_block.html_safe %>
        </div>
    </div>
<% end %>

<%= render :template => 'layouts/3columns' %>