<% content_for :title do %><%= @project.title_seo.blank? ? strip_tags(@project.title) : @project.title_seo %><% end %>

<% content_for :body_class do %><%= 'l-%s-page' % [@project.body_class] %><% end %>
<% content_for :yandex_metrica_gaidarfund do %>-<% end %>
<% content_for :social_likes do %><%= @project.likes.html_safe %><% end %>
<% content_for :partners do %><%= @project.partners.html_safe %><% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('li.item.projects a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'block_links', :locals => {:title => @project.about_title.blank? ? 'О проекте' : @project.about_title, :items => @project.pages} %>
    <%= render :partial => 'filters', :locals => {:show_filters => false, :defaults => {:project_ids => @project.id, :per_page => 15}} %>
    <%= @project.projects.html_safe %>
<% end %>

<% content_for :content do %>
    <div class="l-column-472 l-intercolumn-28">
        <%= render :partial => 'project_header', :locals => {:project => @project} %>
        <%= render :partial => 'articles' %>
    </div>
<% end %>

<% content_for :right_column do %>
    <div class="l-column-210 l-lift-686">
        <div class="l-shift-20">
            <%= @project.right_block.html_safe %>
            <%= render :partial => 'social_links' %>
        </div>
    </div>
<% end %>

<%= render :template => 'layouts/3columns' %>