<% rss_path = articles_path(:format => 'rss', :project_ids => @project.id, :per_page => 50) %>

<% content_for :title do %><%= @project.title_seo.blank? ? strip_tags(@project.title) : @project.title_seo %><% end %>

<% content_for :body_class do %><%= 'l-%s-page' % [@project.body_class] %><% end %>
<% content_for :yandex_metrica_gaidarfund do %>-<% end %>
<% content_for :social_likes do %><%= @project.likes.html_safe %><% end %>
<% content_for :partners do %><%= @project.partners.html_safe %><% end %>

<% if @project.social_image.exists? %>
    <% content_for :og_image do %><%= "#{request.protocol}#{request.host_with_port}#{@project.social_image(:square)}" %><% end %>
<% end %>

<% content_for :extra_head do %>
    <%= auto_discovery_link_tag(:rss, rss_path) %>
    <script type="text/javascript">
        $(function() {
            <% if @project.is_lectures? and @project.lectures_active.count > 0 %>
                $('.b-menu.b-menu-separated').append('<li class="item"><%= link_to 'Записаться на ближайшую лекцию', lectures_subscribe_path, :class => 'link c-about-link' %></li>');
            <% end %>
            $('ul.b-main-menu li.item.projects a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'block_links', :locals => {:title => @project.about_title.blank? ? 'О проекте' : @project.about_title, :items => @project.pages.visible} %>
    <%= render :partial => 'filters', :locals => {:show_filters => false, :show_periods => @project.archive_periods_title.blank? ? false : {:title => @project.archive_periods_title, :periods => @project.project_archive_periods.all}, :defaults => {:project_ids => @project.id, :per_page => @project.per_page}} %>
    <%= @project.projects.html_safe %>
<% end %>

<% content_for :content do %>
    <%= render :partial => 'project_header', :locals => {:project => @project} %>
    <div class="l-column-472 l-intercolumn-28">
        <%= render :partial => 'articles' %>
    </div>
<% end %>

<% content_for :right_column do %>
    <div class="l-wide-context">
    <div class="l-shift-20">
        <%= @project.right_block.html_safe %>
        <%= render :partial => 'social_links' %>
        <%= link_to '<b class="b-icon b-icon-rss"><b></b></b>Подписка на&nbsp;ленту проекта&nbsp;по&nbsp;RSS'.html_safe, rss_path, :class => "b-rss-link" %>
    </div>
    </div>
<% end %>

<%= render :template => 'layouts/3columns' %>