<% if defined?(show_periods) and show_periods %>
    <div>
        <h2 class="b-navigation-title">
           <span class="inner">
               <%= show_periods[:title] %>
               <canvas id="period-filtration-line" class="line"></canvas>
           </span>
        </h2>
        <div class="l-shift-20">
            <ul class="b-menu" id="articlesPeriodFiltration">
                <li class="item">
                    <a class="link b-text-link disabled" href="#"><b class="b-graphics b-graphics-check"><b></b></b>Все</a>
                </li>
                <% show_periods[:periods].each do |period| %>
                    <li class="item">
                        <%= link_to '<b class="b-graphics b-graphics-check"><b></b></b>'.html_safe + period.name, '', :class => "link b-text-link", :rel => 'period_id', :id => period.id %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
<% if defined?(show_filters) and show_filters %>
    <div id="filter">
        <h2 class="b-navigation-title">
           <span class="inner">
               <% if defined?(title) and not title.blank? %><%= title %><% else %>Главное<% end %>
               <canvas id="type-filtration-line" class="line"></canvas>
           </span>
        </h2>
        <div class="l-shift-20">
            <ul class="b-menu" id="articlesTypeFiltration">
                <li class="item">
                    <a class="link b-text-link disabled" href="#"><b class="b-graphics b-graphics-check"><b></b></b>Все</a>
                </li>
                <% @articletypes.each do |type| %>
                    <li class="item">
                        <%= link_to '<b class="b-graphics b-graphics-check"><b></b></b>'.html_safe + type.name_plural, articletype_path(type), :class => "link b-text-link", :rel => 'type_ids', :id => type.id %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function() {
        filtration.init(<%= defaults.to_json.html_safe %>);
    });

    var filtration = {
        show_filter_counts: false,
        show_connection: true,
        data: {
            page: 1
        },
        initial_data: {},
        init: function(data) {
            $.extend(filtration.data, data);
            filtration.initial_data = $.extend({}, filtration.data);
            filtration.reload();
            filtration.initFilters();
            filtration.initSearch();
        },
        initFilters: function() {
            $('#articlesTypeFiltration a,#articlesPeriodFiltration a').click(function() {
                $(this).parents('.b-menu').find('a').not(this).addClass('disabled');
                var value = $(this).removeClass('disabled').attr('id');
                var name = $(this).attr('rel');
                if(value) {
                    filtration.data.page = 1;
                    filtration.data[name] = value;
                } else {
                    filtration.data = $.extend({}, filtration.initial_data);
                }
                filtration.reload();
                return false;
            });
        },
        initSearch: function() {
            if(document.location.pathname == '<%= search_path %>') {
                $('form#searchForm').submit(function() {
                    filtration.data.query = $('#f-query').val();
                    filtration.data.page = 1;
                    filtration.reload();
                    return false;
                });
            }
        },
        reload: function() {
            $.ajax({
                url: '<%= articles_path %>',
                data: this.data,
                dataType: 'json',
                beforeSend: function() {},
                success: function(response) {
                    var content = response.content;

                    // show filter counts
                    if(filtration.show_filter_counts) {
                        $('#articlesTypeFiltration li.item').show();
                        $.each(response.types_count, function(id, count) {
                            var jLink = $('#articlesTypeFiltration a.link#' + id);
                            if(count) {
                                jLink.html(function(i, old) {
                                    return old.replace(/ \(\d+\)$/, '') + ' ('+count+')';
                                });
                            } else {
                                jLink.parent().hide();
                            }
                        });
                    }

                    if(filtration.data.page == 1) {
                        var newItems = $(content).filter('div');
                        newItems.css({opacity: 0});
                        $('#articlesList').html(newItems);
                        newItems.animate({opacity: 1});
                        filtration.first_announce();
                        $('#articlesList .b-tiles').masonry({
                            itemSelector: '.b-tiles-item'
                        });
                        $('#articlesList .b-more a').click(function() {
                            filtration.data.page++;
                            filtration.reload();
                            return false;
                        });
                        if(filtration.show_connection)
                            $('#type-filtration-line,#period-filtration-line').line({
                                targetSelector: '#articlesList'
                            });
                    } else {
                        var newItems = $(content).find('.b-tiles-item');
                        newItems.css({opacity: 0}).appendTo($('#articlesList .b-tiles'));
                        newItems.animate({opacity: 1});
                        $('#articlesList .b-tiles').masonry('appended', newItems, true);
                    }
                    if($(content).filter('.b-more').length == 0) {
                        $('#articlesList .b-more').remove();
                    }
                }
            });
        },
        first_announce: function() {
            $('.b-section-label:contains("Ближайшее")').not(':last').remove();
        }
    }
</script>