<% if defined?(compact) %>
    <div class="b-project-header b-project-header-<%= project.body_class %>">
        <div class="title">
            <a class="link" href="<%= project_path(project) %>"><%= project.title.html_safe %></a>
        </div>
        <div class="event"><%= project.status.html_safe %></div>
    </div>
<% else %>
    <div class="b-project-header b-project-header-<%= project.body_class %>">
        <div class="b-share">
            <%= render :partial => 'social_likes' %>
        </div>
        <h1 class="title">
            <a class="link" href="<%= project_path(project) %>"><%= project.title.html_safe %></a>
        </h1>
        <div class="event"><%= project.status.html_safe %></div>
        <%= project.html_block.html_safe %>
    </div>
<% end %>

<script type="text/javascript">
    <% if project.background_image.exists? %>
        $('.l-<%= project.body_class %>-page .l-container')
            .css('backgroundImage', 'url("<%= project.background_image %>")')
            .css('backgroundRepeat', 'no-repeat');
    <% end %>
    <% if project.logo_image.exists? %>
        $('.b-<%= project.body_class %>-header a.link')
            .css('backgroundImage', 'url("<%= project.logo_image %>")')
            .css('backgroundRepeat', 'no-repeat');
    <% end %>
    <% if project.css.exists? %>
        $("head").append('<link rel="stylesheet" type="text/css" href="<%= project.css %>" media="screen"/>');
        $.getScript("<%= project.css %>");
    <% end %>
</script>
<% if not project.css_styles.blank? %>
    <style>
        <%= project.css_styles.html_safe %>
    </style>
<% end %>
