<div class="b-<%= project.subdomain %>-header">
    <h1 class="title"><a class="link" href="<%= project_path(project) %>"><span class="text"><%= project.status.html_safe %></span></a></h1>
    <div class="event"><%= project.status.html_safe %></div>
    <%= project.html_block.html_safe %>
</div>