<div class="b-<%= project.body_class %>-header">
    <%= render :partial => 'social_likes' %>
    <h1 class="title"><a class="link" href="<%= project_path(project) %>"><%= project.title.html_safe %></a></h1>
    <div class="event"><%= project.status.html_safe %></div>
    <%= project.html_block.html_safe %>
</div>
<script type="text/javascript">
    <% if project.background_image.exists? %>
        $('.l-<%= project.body_class %>-page .l-container').css({'background': 'url(<%= project.background_image %>) no-repeat 98% 44px'});
    <% end %>
    <% if project.css.exists? %>
        $("head").append('<link rel="stylesheet" type="text/css" href="<%= project.css %>" media="screen"/>');
        $.getScript("<%= project.css %>");
    <% end %>
</script>