<% content_for :title do %>Фонд Егора Гайдара<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('.b-promo').slideShow();
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'projects' %>
    <%= render :partial => 'calendar' %>
    <%= render :partial => 'filters' %>
<% end %>

<% content_for :content do %>
    <div class="b-share">
        <img src="/img/tmp/likes.png" alt=""/>
    </div>
    <div class="b-promo">
        <div class="slides">
            <% @slides.each_with_index do |slide, i| %>
                <div class="slide" color-code="<%= @slide_classes[i] %>" style="background: <% if slide.background_image.present? %>url('<%= slide.background_image(:slide) %>') no-repeat<% else %><%= slide.background_color %><% end %>; color: <%= slide.color %>;">
                    <div class="label c-<%= @slide_classes[i] %>-block"><%= slide.top_text %></div>
                    <h2 class="main-title"><a class="link" href="<%= slide.link %>" style="color: <%= slide.color %>;"><%= slide.title.html_safe %></a></h2>
                    <%= slide.content.html_safe %>
                </div>
            <% end %>
        </div>
        <a class="prev" href="?"><b class="b-graphics b-graphics-prev"><b>Назад</b>
            </b></a>
        <a class="next" href="?"><b class="b-graphics b-graphics-next"><b>Вперёд</b>
            </b></a>
        <div class="previews"></div>
    </div>
    <ul class="b-events">
        <% @announces.reverse.each_with_index do |announce, i| %>
            <li class="item">
                <a class="link nearest-<%= i+1 %>" href="<%= article_path(announce) %>">
                    <strong class="date"><span class="day"><%= l announce.published_at, :format => '%d' %></span>&nbsp;<%= l announce.published_at, :format => '%B' %></strong><%=  announce.title %>
                </a>
            </li>
        <% end %>
    </ul>
    <div class="l-column-472 l-intercolumn-28">
        <%= render :partial => 'articles', :locals => {:article_main => @article_main, :articles => @articles } %>
    </div>
<% end %>

<% content_for :right_column do %>
    <%= render :partial => 'blogs' %>
    <%= @golden_fund %>
    <%= render :partial => 'banners_right_column' %>
<% end %>

<%= render :template => 'layouts/3columns' %>