<% content_for :title do %>Фонд Егора Гайдара<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('.b-promo').slideShow();
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'projects' %>
    <h2 class="b-navigation-title">Календарь</h2>
    <div class="l-shift-20">
        <ul class="b-menu">
            <li class="item">
                <a class="link c-project-link" href="?menu-11">О проектах Фонда</a>
            </li>
        </ul>
    </div>
    <h2 class="b-navigation-title">Главное</h2>
    <div class="l-shift-20">
        <ul class="b-menu">
            <li class="item">
                <a class="link c-all-link" href="?menu-21">Все</a>
            </li>
            <li class="item">
                <a class="link c-news-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Новости</a>
            </li>
            <li class="item">
                <a class="link c-about-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Отчеты</a>
            </li>
            <li class="item">
                <a class="link c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Разбор архивных документов</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Глубокое чтение</a>
            </li>
            <li class="item">
                <a class="link c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Интервью</a>
            </li>
            <li class="item">
                <a class="link c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Видео</a>
            </li>
            <li class="item">
                <a class="link c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Переводы рецензий книг</a>
            </li>
            <li class="item">
                <a class="link c-gaidar-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Гайдар-клуб</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Гайдаровские чтения</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>ЦНСИ</a>
            </li>
            <li class="item">
                <a class="link c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>События на подпроектах</a>
            </li>
            <li class="item">
                <a class="link c-gaidar-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                    </b>Жизнь Фонда</a>
            </li>
        </ul>
    </div>
<% end %>

<% content_for :content do %>
    <div class="b-share">
        <img src="/img/tmp/likes.png" alt=""/>
    </div>
    <div class="b-promo">
        <div class="slides">
            <% @slides.each_with_index do |slide, i| %>
                <div class="slide" color-code="<%= @slide_classes[i] %>" style="background: <%= slide.background_color %>; color: <%= slide.color %>;">
                    <div class="label c-<%= @slide_classes[i] %>-block"><%= slide.top_text %></div>
                    <h2 class="main-title"><a class="link" href="<%= slide.link %>" style="color: <%= slide.color %>;"><%= slide.title.html_safe %></a></h2>
                    <%= slide.content.html_safe %>
                </div>
            <% end %>
        </div>
        <a class="prev" href="?"><b class="b-graphics b-graphics-prev"><b>Назад</b>
            </b></a>
        <a class="next" href="?"><b class="b-graphics b-graphics-next"><b>Вперёд</b>
            </b></a>
        <div class="previews"></div>
    </div>
    <ul class="b-events">
        <% @events.reverse.each_with_index do |event, i| %>
            <li class="item">
                <% if not event.link.empty? %>
                    <a class="link nearest-<%= i+1 %>" href="<% event.link %>">
                <% else %>
                    <span class="nearest-<%= i+1 %>">
                <% end %>
                <strong class="date"><span class="day"><%= l event.date, :format => '%d' %></span>&nbsp;<%= l event.date, :format => '%B' %></strong><%=  event.title %>
                <% if not event.link.empty? %>
                    </a>
                <% else %>
                    </span>
                <% end %>
            </li>
        <% end %>
    </ul>
    <div class="l-column-472 l-intercolumn-28">
        <%= render :partial => 'articles', :locals => {:article_main => @article_main, :articles => @articles } %>
    </div>
<% end %>

<% content_for :right_column do %>
    <%= render :partial => 'blogs' %>
    <%= @golden_fund %>
    <%= render :partial => 'banners_right_column' %>
<% end %>

<%= render :template => 'layouts/3columns' %>