<% rss_path = articles_path(:format => 'rss', :index => true, :type_ids => @type_ids.join(','), :per_page => 50) %>

<% content_for :description do %><%= @article_main.title_seo.blank? ? strip_tags(@article_main.title) : @article_main.title_seo %> <%= strip_tags(@article_main.subtitle) %><% end %>

<% content_for :extra_head do %>
    <%= auto_discovery_link_tag(:rss, rss_path) %>
    <script type="text/javascript">
        $(function() {
            $('.b-promo').slideShow({
               dots: true
            });
            $('#events').slideShow({
                slideSelector: '.b-events .item',
                slideBy: 2,
                slidePerPage: 5,
                slideWidth: 122,
                slideDistance: 20
           });

           $('#events-line').line({
               targetSelector: '#events',
               targetCorrectionX: 24,
               targetCorrectionY: 86,
               targetMarginX: 0
           });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'projects' %>
    <%= render :partial => 'calendar' %>
    <%= render :partial => 'filters', :locals => {:show_filters => true, :defaults => {:index => true, :type_ids => @type_ids.join(','), :per_page => 15}} %>
<% end %>

<% content_for :content do %>
    <div class="b-share">
        <%= render :partial => 'social_likes' %>
    </div>
    <div class="b-promo">
        <div class="slides">
            <% @slides.each_with_index do |slide, i| %>
                <div class="slide" color-code="<%= slide.color_class %>" style="background: <% if slide.background_image.exists? %>url('<%= slide.background_image(:slide) %>') no-repeat<% else %><%= slide.background_color %><% end %>; color: <%= slide.color %>;">
                    <div class="label c-<%= slide.color_class %>-block"><%= slide.top_text %></div>
                    <h2 class="main-title"><a class="link" href="<%= slide.link %>" style="color: <%= slide.color %>;"><%= slide.title.html_safe %></a></h2>
                    <%= slide.content.html_safe %>
                </div>
            <% end %>
        </div>
        <a class="prev" href="?"><b class="b-graphics b-graphics-prev"><b>Назад</b>
            </b></a>
        <a class="next" href="?"><b class="b-graphics b-graphics-next"><b>Вперёд</b>
            </b></a>
        <div class="previews"></div>
    </div>
    <% if @announces.size > 0 %>
        <div id="events" class="b-slideshow">
            <div class="frame">
                <ul class="b-events slides<% if @announces.count < 4 %> b-events-compact<% end %>">
                    <% @announces.reverse.each_with_index do |announce, i| %>
                        <li class="item nearest-<%= i+1 %>">
                            <a class="b-events-link" href="<%= article_path(announce) %>">
                                <strong class="date"><span class="day<% if announce.published_at.strftime("%-d").to_s[0] == '1' %> from-1<% end %>"><%= l announce.published_at, :format => '%-d' %></span>&nbsp;<%= l announce.published_at, :format => '%B' %></strong><%=  announce.title %>
                            </a>
                            <% if announce.project %>
                                <em class="meta">
                                    <a class="link <%= "c-#{announce.color_class}-hidden-link" %>" href="<%= project_path(announce.project) %>">
                                    <b class="b-graphics b-graphics-7-square"><b></b></b><%= announce.project %></a>
                                </em>
                            <% end %>
                        </li>
                    <% end %>
                    </ul>
                </div>
            <a class="arrow prev" href="?"><b class="b-graphics b-graphics-small-left-arrow"><b></b></b> назад</a>
            <a class="arrow next" href="?"><b class="b-graphics b-graphics-small-right-arrow"><b></b></b> будущее</a>
            <i class="b-left-fader"></i>
            <i class="b-right-fader"></i>
        </div>
    <% end %>
    <div class="l-column-472 l-intercolumn-28">
        <%= render :partial => 'articles' %>
    </div>
<% end %>

<% content_for :right_column do %>
    <%= render :partial => 'blogs' %>
    <%= @golden_fund %>
    <%= render :partial => 'banners_right_column' %>
    <%= render :partial => 'social_links' %>
    <%= link_to '<b class="b-icon b-icon-rss"><b></b></b>Подписка на&nbsp;ленту фонда&nbsp;по&nbsp;RSS'.html_safe, rss_path, :class => "b-rss-link" %>
<% end %>

<%= render :template => 'layouts/3columns' %>