<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:url" content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>">
        <meta property="og:site_name" content="<%= request.host_with_port %>">
        <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : (@file_social_logo ? "#{request.protocol}#{request.host_with_port}#{@file_social_logo.file}" : 'http://profile.ak.fbcdn.net/hprofile-ak-ash2/188014_174472589266834_4288339_q.jpg') %>">
        <%# strip_tags(yield()) не работает несмотря на https://github.com/rails/rails/issues/1744 #%>
        <meta property="og:description" content="<%= content_for?(:description) ? strip_tags(yield(:description)) : 'Фонд Егора Гайдара' %>">
        <meta property="og:title" content="<%= content_for?(:title) ? strip_tags(yield(:title)) + ' - Фонд Егора Гайдара' : 'Фонд Егора Гайдара' %>">
        <title><%= content_for?(:title) ? strip_tags(yield(:title)) + ' - Фонд Егора Гайдара' : 'Фонд Егора Гайдара' %></title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="/css/ie7.css"/>
        <![endif]-->
        <%= yield :extra_head %>
        <script type="text/javascript">
            $(function() {
                $('.b-tiles').masonry({
                    itemSelector: '.b-tiles-item'
                });
            });
        </script>
        <%= @extra_head %>
        <%= content_for?(:social_likes) ? yield(:social_likes) : @social_likes %>
    </head>
    <body class="<%= yield(:body_class) %>">

        <% if not content_for?(:yandex_metrica_all) %><%= @yandex_metrica_all %><% end %>
        <% if not content_for?(:yandex_metrica_gaidarfund) %><%= @yandex_metrica_gaidarfund %><% end %>

        <div class="l-container">
            <div class="l-header">
                <a class="b-logo" href="<%= root_url(:subdomain => false) %>"> <img class="image" src="<%= @file_logo ? @file_logo.file : '/img/logo.png' %>" alt="Фонд Егора Гайдара"/> </a>
                <ul class="b-main-menu">
                    <li class="item about">
                        <%= link_to 'О Фонде', page_path('/about_fund/'), :class => 'link' %>
                    </li>
                    <li class="item gaidar">
                        <%= link_to 'О Егоре Гайдаре', page_path('/about_gaidar/'), :class => 'link' %>
                    </li>
                    <li class="item articles">
                        <%= link_to 'Публикации', publications_path(:subdomain => false), :class => 'link' %>
                    </li>
                    <li class="item projects">
                        <%= link_to 'Проекты', projects_path(:subdomain => false), :class => 'link' %>
                    </li>
                    <li class="item news">
                        <%= link_to 'Новости', news_path(:subdomain => false), :class => 'link' %>
                    </li>
                </ul>
            </div>

            <div class="l-content l-wrapper">
                <div class="l-column-210 l-intercolumn-40">
                    <form id="searchForm" class="b-search-form" method="get" action="<%= search_path %>">
                        <fieldset>
                            <label class="b-hint-label" for="f-query">Поиск по сайтам Фонда</label>
                            <input id="f-query" class="b-input" type="text" name="query" value="<%= params[:query] %>" />
                        </fieldset>
                    </form>
                    <%= yield(:left_column) %>
                </div>
                <%= content_for?(:main_column) ? yield(:main_column) : yield %>
            </div>

            <% if content_for?(:partners) %><%= yield(:partners) %><% else %><%= @partners %><% end %>

        </div>

        <div class="l-footer">
            <div class="l-inner l-wrapper">
                <div class="l-column-210 l-intercolumn-30 l-shift-10">
                    <%= @footer_links_1 %>
                </div>
                <div class="l-column-210 l-intercolumn-30">
                    <%= @footer_links_2 %>
                </div>
                <div class="l-column-230 l-intercolumn-30">
                    <h2 class="b-featured-title"><%= link_to 'Проекты', projects_path(), :class => 'link' %></h2>
                    <div class="l-shift-20">
                        <ul class="b-featured-menu">
                            <% @projects_footer[0..4].each do |project| %>
                                <li class="item"><%= link_to project, project_path(project), :class => 'link c-project-link' %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="l-column-210">
                    <ul class="b-featured-menu b-featured-menu-untitled">
                        <% @projects_footer[5..9] and @projects_footer[5..9].each do |project| %>
                            <li class="item"><%= link_to project, project_path(project), :class => 'link c-project-link' %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="l-wrapper">
                <div class="l-column-50p">
                    <div class="b-bricks">
                        <span class="line line-1"><span class="brick brick-1-1"></span></span>
                        <span class="line line-2"></span>
                        <span class="line line-3"><span class="brick brick-3-1"></span></span>
                        <span class="line line-4"><span class="brick brick-4-1"></span></span>
                        <span class="line line-5"></span>
                    </div>
                </div>
                <div class="l-column-50p">
                    <div class="l-column-230 l-shift-10 l-intercolumn-30">
                        <div class="b-copyright">2010&ndash;2012&nbsp;&copy; <a class="link" href="<%= root_url(:subdomain => false) %>">Фонд Егора Гайдара</a></div>
                    </div>
<%
=begin
%>
                    <div class="l-column-210">
                        <div class="b-copyright">Дизайн: Олег Пащенко (<a class="link" href="http://f26.ru">F26<i class="b-f26"></i></a>)</div>
                    </div>
<%
=end
%>
                </div>
            </div>
        </div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=388301504514009";
         fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>